.mainSection {
    padding-top: 3rem;
}

.mainOverview {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overviewText {
    flex-basis: 40%;
    text-align: left;
}

.overviewText_heading {
    font-size: 3.5rem;
    background: var(--color-gradient);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
}

.overviewText_paragraph {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    color: var(--color-white);
}

.phoneImage img {
    width: auto;
    height: 30rem;
}

@media screen and (max-width: 1024px) {
    .overviewText {
        flex-basis: 90%;
    }
}

@media screen and (max-width: 900px) {
    .phoneImage{
        display: none;
    }

    .mainOverview {
        justify-content: center;
    }

    .overViewbutton {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .mainSection {
        padding-top: 3rem;
    }

    .overviewText {
        text-align: center;
        flex-basis: 100%;
    }

    .mainOverview {
        justify-content: center;
    }

    .overviewText_paragraph {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    
}



